<section class="py-5">
  <div class="row row-cols-2 align-items-center gx-2 mb-3">
    <div>
      <img class="rounded-circle shadow-sm" [src]="store_logo" alt="">

      <h1>{{store_name}}</h1>
    </div>
    <h3>{{date | date :'short' : 'ar'}}</h3>
  </div>
  <div class="row row-cols-2 mb-3">
    <select [(ngModel)]="selected_category" title="products categories">
      <option value="" selected>Show All</option>
      <option *ngFor="let category of categories" value={{category.name}}>{{category.name}}</option>
    </select>
    <input type="text" [(ngModel)]="client_name" [value]="client_name" placeholder="Client Name" >
    <!-- <button class="btn btn-primary rounded-0" (click)="client_name_read(client_name_input.value)">Submit</button> -->
  </div>
  <p>{{client_name}}</p>
  <table class="table">
    <thead>
      <tr>
        <th class="text-center" scope="col">Poduct Number</th>
        <th class="text-center" scope="col">Poduct Name</th>
        <th class="text-center" scope="col">Poduct Image</th>
        <th class="text-center" scope="col">Product Description</th>
        <th class="text-center" scope="col">Product Price USD</th>
        <th class="text-center" scope="col">Product Price EGP</th>
        <th class="text-center" scope="col">Product Category</th>
        <th class="text-center" scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <!-- Have to Assign Index to Variable, Can't Be Used Directly -->
      <tr *ngFor="let product of products;let i = index" [class.d-none]="product.category!=selected_category && selected_category != '' ">

        <th class="text-center" scope="row">{{i+1}}</th>
        <!-- 
           <th  class="text-center" scope="row">
          <div *ngIf="product.id!=1 else elseblock ">here</div>
          <ng-template #elseblock class="text-center" scope="row">there</ng-template>
        </th>
         -->
        <td class="text-center">{{product.name | uppercase }}</td>
        <td class="d-flex justify-content-center"><img appLightBox class="rounded-3 shadow w-75" [src]="product.image" alt="{{product.name}}"></td>
        <td class="text-center">{{product.description}}</td>
        <td class="text-center">{{product.price| currency}}</td>
        <td class="text-center">{{product.price|USDtoEGP| currency : 'EGP'}}</td>
        <td class="text-center">{{product.category}}</td>
        <td class="text-center"><button class="btn btn-primary">+Cart</button></td>
      </tr>
    </tbody>
  </table>