<section class="py-5">
  <div class="d-flex align-items-center gap-3 mb-3">
    <img class="rounded-circle shadow-sm" [src]="store_logo" alt="">
    <h1>{{store_name}}</h1>
  </div>
  <div class="row row-cols-2 mb-3">
    <select [(ngModel)]="selected_category" title="products categories">
      <option value="" selected>Show All</option>
      <option *ngFor="let category of categories" value={{category.name}}>{{category.name}}</option>
    </select>
    <input type="text" [(ngModel)]="client_name" [value]="client_name" placeholder="Client Name" >
    <!-- <button class="btn btn-primary rounded-0" (click)="client_name_read(client_name_input.value)">Submit</button> -->
  </div>
  <p>{{client_name}}</p>
  <table class="table">
    <thead>
      <tr>
        <th class="text-center" scope="col">Poduct Name</th>
        <th class="text-center" scope="col">Poduct Image</th>
        <th class="text-center" scope="col">Product Description</th>
        <th class="text-center" scope="col">Product Price</th>
        <th class="text-center" scope="col">Product Category</th>
        <th class="text-center" scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <!-- Have to Assign Index to Variable, Can't Be Used Directly -->
      <tr *ngFor="let product of products;let i = index" [class.d-none]="product.category!=selected_category && selected_category != '' ">

        <th class="text-center" scope="row">{{i+1}}</th>
        <td><img class="rounded-3 shadow w-75 my-auto" [src]="product.image" alt="{{product.name}}"></td>
        <td class="text-center">{{product.description}}</td>
        <td class="text-center">{{product.price}}</td>
        <td class="text-center">{{product.category}}</td>
        <td class="text-center"><button class="btn btn-primary">+Cart</button></td>
      </tr>
    </tbody>
  </table>